{% extends "base.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'Forum/css/main.css' %}">{% endblock %}

{% block title %}Доска {{ board.name }}{% endblock %}

{% block body %}
    <img border="2px solid white" width="150" height="150" src="{{ board.image.url }}">
    <h1>{{ board.name }}</h1>
    <hr class="styled-hr">
    {% for m in messages %}
        <div class="contextmenu-target-element message">
        <p class="message-text">{{ m.text }} <p class="message-datetime">{{ m.datetime }}</p></p>
        
        </div>

        {% empty %}
        <div class="contextmenu-target-element message">
        <p>Здесь пока что ничего нет?</p>
        <p class="message-datetime">256 августа 2077г. 11:11</p>
        </div>
    {% endfor %}
<hr class="styled-hr">
    <form method="post">
    {% csrf_token %}
    <textarea placeholder="Ваше сообщение" name="text" cols="40" rows="3" required="" id="id_text"></textarea>
    <input id="submit_btn" type="submit" value="отправить">
    </form>


    <div id="context-menu">
    <ul>
        <li onclick="MainFunction(`Первый пункт`)">Копировать текст</li>
        <li onclick="MainFunction(`Второй пункт`)">Цитировать</li>
        <li onclick="alert('Третий пункт')">Третий пункт</li>
    </ul>
</div>
<script src="{% static 'Forum/js/contextmenu.js' %}" ></script>
{% endblock %}