{% extends "base.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'Forum/css/main.css' %}">{% endblock %}

{% block title %}Доска {{ board.name }}{% endblock %}

{% block body %}
    {% for m in messages %}
        <div class="contextmenu-target-element message">
        <p>{{ m.text }}</p>
        <p class="message-datetime">{{ m.datetime }}</p>
        </div>
    {% endfor %}

    <form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="отправить">
    </form>


    <div id="context-menu">
    <ul>
        <li onclick="alert('Первый пункт')">Первый пункт</li>
        <li onclick="alert('Второй пункт')">Второй пункт</li>
        <li onclick="alert('Третий пункт')">Третий пункт</li>
    </ul>
</div>
<script src="{% static 'Forum/js/contextmenu.js' %}" ></script>
{% endblock %}